// swift-tools-version:5.8

import PackageDescription

let package = Package(
    name: "{{ conf.inferred_package_name() }}",
    platforms: [
        .macOS(.v13),
        .iOS(.v16)
    ],
    products: [
        .library(
            name: "{{ conf.inferred_package_name() }}",
            targets: ["{{ conf.inferred_package_name() }}"]),
    ],
    targets: [
        .target(
            name: "{{ conf.inferred_package_name() }}",
            dependencies: [])
    ]
)
