namespace Teo {
{%- for delegate in delegates %}
    public class {{ delegate.model_name }}Delegate : Delegate {
        readonly string? _Token;
        protected internal AdminDelegate(string? token = null) {
            _Token = token;
        }
{%- for action in delegate.actions %}
        public async Task<{{ action.response }}> {{ action.name|capitalize_first }}({{ delegate.model_name }}{{ action.name|capitalize_first }} args) {
            return await Request<{{ action.response }}>("{{ delegate.model_name }}", "{{ action.name }}", args);
        }
{%- endfor %}
    }
{%- endfor %}
}