
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio Version 17
VisualStudioVersion = 17.2.32505.173
MinimumVisualStudioVersion = 10.0.40219.1
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "{{ conf.inferred_package_name() }}", "{{ conf.inferred_package_name() }}.csproj", "{E68C2CF9-914A-4676-96C2-F16FB03C89ED}"
EndProject
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug|Any CPU = Debug|Any CPU
		Release|Any CPU = Release|Any CPU
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{E68C2CF9-914A-4676-96C2-F16FB03C89ED}.Debug|Any CPU.ActiveCfg = Debug|Any CPU
		{E68C2CF9-914A-4676-96C2-F16FB03C89ED}.Debug|Any CPU.Build.0 = Debug|Any CPU
		{E68C2CF9-914A-4676-96C2-F16FB03C89ED}.Release|Any CPU.ActiveCfg = Release|Any CPU
		{E68C2CF9-914A-4676-96C2-F16FB03C89ED}.Release|Any CPU.Build.0 = Release|Any CPU
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
	GlobalSection(ExtensibilityGlobals) = postSolution
		SolutionGuid = {32EA980A-1D6B-42BE-9D0C-99EAF0B784D8}
	EndGlobalSection
EndGlobal
